body{
    background-color:lightyellow;
}
.col {
    transition: all 400ms;
}

.col:hover {
    transform: scale(1.04);
}

/* #listaMenu li a{
    color: #bf0000;
} */
#mensajeCookies {
    border: 1px solid black;
    background-color: lightyellow;
    opacity: 0.8;
    width: 100%;
    height: 200px;
    position: fixed;
    display: block;
    z-index: 1;
    margin-top: 37%;
}

#botonesCookies {
    display: flex;
    justify-content: space-around;
}